<!DOCTYPE html>
<html>

<head>
    <title>non:everything</title>
    <meta name="viewport" content="width=device-width" charset="utf-8">
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////ADAwMAAAjP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMwAAAAAAADMxEREREREREzEhEiIiIiITMSESIiIiIhMxIRIiIiIiEzEhEiESIiITMSESIRIiIhMxIRIhEiIiEzEhEiESIiITMSESIRIiIhMxIRIhEiIiEzEhEiESIiITMSIiIRIiIhMxIiIhEiIiEzERERERERETMwAAAAAAADM//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//AAA" rel="icon" type="image/x-icon">
    <!-- Place apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/stylesheets/google-fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    
<body>

    <!-- Begin main site content -->
    <div id="header">
		<div class="set-width">
			<span>
				<h1>non<span id="title-brackets">[</span><span id="everything">everything</span><span id="title-brackets">]</span></h1>
				<h2>freedom in code.</h2>
			</span>
		</div>
	</div>
	<div class="set-width">
		<div class="right sidebar">
		    <dl>
			    <dt>Snippets</dt>
			    <dd id="bash-php-usage"
			        class="post-button"
			        title="posts/bash-php-usage.html">
			        PHP in Bash
			    </dd>
			    <dd id="untar-gz"
			        class="post-button"
			        title="posts/untar-gz.html">
			        Untar a Gzip
			    </dd>
			    <dd id="bash-find"
			        class="post-button"
			        title="posts/bash-find.html">
			        The find command
			    </dd>
			</dl>
			<dl>
			    <dt>Projects</dt>
			    <dd id="visual-synth"
			        class="post-button"
			        title="posts/visual-synth/visual-synth.html"
			        data-branch-embedid="H3oAzoIZSzA">
			        Visual Synth
			    </dd>
			    <dd id="tone-table"
			        class="post-button"
			        title="posts/tone-table/tone-table.html">
			        Tone Multiplication
			    </dd>
			    <dd id="trees"
			        class="post-button"
			        title="posts/trees/trees.html?foo=bar">
			        Trees
			    </dd>
			    <dd id="qPoint"
			        class="post-button"
			        title="posts/qPoint/qPoint.html?foo=bar">
			        GPU Simulation
			    </dd>
			    <dd>
			        <a href="http://pages.uoregon.edu/fernande/comics/">
			            Scrolling Webcomic
			        </a>
			    </dd>
			    <dd><a href="genlab/clickart">GenLab</a></dd>
			    <dd><a href="debris">Debris</a></dd>
			</dl>
			<dl>
			    <dt>Research</dt>
			    <dd>
			        <a href="http://pages.uoregon.edu/fernande/stardisks.html">
			            star-disk simulations
			        </a>
			    </dd>
			    <dd>
			        <a href="http://pages.uoregon.edu/fernande/poster.html">
			            poster
			        </a>
			    </dd>
			    <dd>
			        <a href="https://docs.google.com/present/view?id=dhch778b_269p8pt5mhs">
			            Internship 2009
			        </a>
			    </dd>
			    <dd>
			        <a href="http://pages.uoregon.edu/fernande/summer11/">
			            Internship 2011
			        </a>
			    </dd>
			</dl>
		</div> <!-- .right.sidebar -->
		
		<div id="post" class="left"></div>
<!--
		<div id="branch-wrap">
			<h3>Join the discussion</h3>
			<div id="branch"></div>
		</div>
-->			
		<hr class="clearfloat">
		
	</div>
	<div class="set-width">
		<h5 class="signature">
			<a href="mailto:paul@noneverything.com">paul@noneverything.com</a>
			&nbsp;|&nbsp;
			<a href="http://flavors.me/paulfernandez">whoami?</a>
		</h5>
	</div>
	<!-- End main site content -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>
        // Include a local copy of jQuery if for some reason we couldn't retrieve it.
        window.jQuery || document.write('<script src="/javascripts/jquery-1.8.0.min.js"><\/script>')
        
        // Google Analytics: change UA-XXXXX-X to be your site's ID. 
        var _gaq = [['_setAccount', 'UA-34235582-1'], ['_trackPageview']];
        (function(d, t) { 
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:'==location.protocol?'//ssl':'//www')
                    + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
    
    <!-- Include custom scripts here. -->
    <script src="/javascripts/script.js"></script>
    
</body>
</html>
